<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'money/css/base.css'%}">

    <title>Currency Converter</title>
</head>

<body class="d-flex m-auto justify-content-center">
    <section>
        <div class="container">
            <div class="row">
                <div class="card ">
                    <div class="card-header text-center"><h4>Currency converter</h4></div>

                    <form class="p-3" action="." method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-lg-8 col-md-8 col-xs col-md">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs col-md">
                                        <div class="form-group">
                                            <label for="">Enter Amount</label>
                                            <input type="number" step="any" class="form-control" name="amount" required >
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs col-md">
                                        <div class="form-group">
                                            <label for="">Home currency</label>
                                            <select name="source_currency" id="" class="form-control">
                                                {% for currency_code in list_of_country_currency_code %}
                                                <option value="{{ currency_code}}">{{ currency_code }}</option>
                                                {% endfor %}

                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs col-md">
                                        <div class="form-group">
                                            <label for="">Target currency</label>
                                            <select name="target_currency" id="" class="form-control">

                                                {% for currency_code in list_of_country_currency_code %}
                                                <option value="{{ currency_code}}">{{ currency_code }}</option>
                                                {% endfor %}

                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs col-md">
                                        <div class="form-group">
                                            <label for="">Converted Amount</label>
                                            <h1>{{ output }}</h1>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <hr class="hr-line-dashed">
                        <div class="form-footer text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>